<section class="flex flex-col px-6 pt-6">
    <h1 class="flex justify-center">Edit <%= @album.name %></h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.admin_album_path(@conn, :update, @album)) %>

    <span><%= link "Back", to: Routes.admin_album_path(@conn, :index) %></span>
</section>
