<section>
    <h1>New Album</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.admin_album_path(@conn, :create)) %>

    <span><%= link "Back", to: Routes.admin_album_path(@conn, :index) %></span>
</section>
