<div id="lightgallery" class="flex flex-wrap gallery">
    <%= for photo <- @photos do %>
    <a class="w-full md:w-1/2 xl:w-1/3 p-1" href="<%= Portfolio.Uploaders.PhotoUploader.url({photo.image, photo}, :original) %>" data-sub-html="<p><%= photo.description %></p>">
        <img class="object-cover w-full h-full" src="<%= Portfolio.Uploaders.PhotoUploader.url({photo.image, photo}, :thumb) %>" alt="<%= photo.alt %>" />
    </a>
    <% end %>
</div>