<img class="album-cover" src="<%= Portfolio.Uploaders.AlbumCoverUploader.url({@album.cover, @album}, :original) %>" />
<section class="flex flex-col px-6">
  <h1 class="flex justify-center text-6xl"><%= @album.name %></h1>

  <%= if @album.short_description && !@album.long_description do %>
    <p><%= @album.short_description %></p>
  <% end %>

  <%= if @album.long_description do %>
  <p><%= @album.long_description %></p>
  <% end %>
</section>
