<section class="container mx-auto">
    <h1>Edit Photo</h1>

    <span><%= link "Back", to: Routes.admin_album_path(@conn, :show, @album_id), class: "hover:underline hover:text-gullgray-900" %></span>

    <img class="h-64" src="<%= Portfolio.Uploaders.PhotoUploader.url({@photo.image, @photo}, :original) %>" />

    <%= render "form.html", Map.merge(assigns, %{action: Routes.admin_album_photo_path(@conn, :update, @album_id, @photo), album_id: @album_id}) %>

</section>