.album-header {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #ffffff 100%);
  }
}

.album-cover {
  width: 100%;
  // max-height: 65vh;
  object-fit: cover;
}

.album-cards {
  @apply mt-8;
  display: flex;
  flex-direction: column;
}

.album-card {
  @apply text-blackcurrant-500;
  display: flex;
  position: relative;
  width: 100%;
}

@media (min-width: 640px) {
  .cut-left {
    clip-path: polygon(calc(0% + 1rem) 0, 100% 0, 100% 100%, 0 100%);
  }

  .cut-right {
    clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  }

  .album-card:not(:first-child) {
    @apply border-t border-blackcurrant-500;
  }

  .album-card .card-image {
    flex: 0 0 50%;
    width: 50%;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .album-card .card-image {
    flex: 0 0 450px;
    width: 100%;
    height: 450px;
  }
}

// FEATURED ALBUMS
.featured-albums {
  @apply bg-blackcurrant-500;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: 0.6s;

  &:hover .featured-album img {
    filter: grayscale(80%);
  }

  .featured-album:hover img {
    filter: grayscale(0%);
  }
}

@media (min-width: 768px) {
  .featured-albums {
    flex-direction: row;
    height: 50vh;
  }
}

.featured-album {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 0.6s;

  &:hover,
  &:focus-within {
    flex: 2;

    .album-footer {
      @apply bg-blackcurrant-100 border-b-2 border-blackcurrant-500;
    }

    a {
      @apply text-blackcurrant-500;
    }
  }

  .album-image {
    width: 100%;
    height: calc(100% - 3rem);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  a {
    z-index: 100;
    @apply text-blackcurrant-100 text-2xl uppercase;
  }

  .album-footer {
    @apply bg-blackcurrant-500;
    flex: 1;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.gallery-container {
  img {
    transition: 0.6s;
  }

  &:hover img {
    filter: grayscale(80%);
  }

  & img:hover {
    filter: grayscale(0);
  }
}

.gallery-container::after {
  content: "";
  flex: auto;
}
